$label-colour: #ccc;
$label-colour-hover: #aaa;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

/* === DISPLAY: NONE === */

#reset, .dragging #url, .loaded #start, div.left, #controls, #controls input[type=checkbox]:checked ~ input[type=color]:after,
.mobile .resize {
  display: none;
}

/* === DISPLAY: BLOCK & FLEX === */

.loaded #controls, loaded.dragging #dropzone {
  display: block;
}

#start, .loaded #reset, .loaded div.left {
  display: flex;
}

html {
  height: 100%;
}

body {
  font-size: 0.8rem;
  line-height: 1.3rem;
  height: 100%;
}

#wrapper {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  &.mobile,
  &.fullscreen {
    max-width: 100%;

    footer {
      height: 0;
    }

    main {
      height: calc(100% - 60px);
      border-radius: 0;
    }
  }
}

#start {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
}

.loaded.dragging #start {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.95);
  z-index: 1;
  border-radius: 25px;
}

#dropzone {
  width: calc(100% - 40px);
  height: calc(70% - 40px);
  padding: 20px;
  flex: 1;
  position: relative;
}

.dragging #dropzone {
  height: calc(100% - 40px);
}

#file {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#dropzone label {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 10px dashed $label-colour;
  border-radius: 25px;
  display: flex;
  color: $label-colour;
  justify-content: center;
  align-items: center;
}

.dragging #dropzone label {
  border-color: lightgreen;
  color: lightgreen;
}

#dropzone:hover label {
  border-color: $label-colour-hover;
  color: $label-colour-hover;
}

#dropzone label span {
  padding: 0 20px;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2rem;
}

#url {
  width: 100%;
  padding: 20px 0;
  color: $label-colour;
  text-align: center;

  label {
    margin: 0 0 10px;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
  }

  label:hover {
    color: $label-colour-hover;
    cursor: pointer;
  }
  
  input {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    color: #ccc;
    display: block;
    font-size: 1.2rem;
  }
  
  input:hover,
  input:focus {
    background: #fff;
    color: #444;
  }

  button {
    width: calc(100% - 40px);
    margin: 10px auto 0;
    padding: 10px;
  }
}

header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  gap: 5px;

  .title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 1.2rem;
    }

    & > span {
      color: $label-colour-hover;
    }

    #reset {
      width: 50px;
      height: 50px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      background: #eee;
      color: #444;
      border-radius: 25px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 5px;
      left: 10px;
      user-select: none;
    }
    
    #reset:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .github,
  .resize {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
      display: block;
  
      path {
        fill: $label-colour;
      }
    }

    &:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.1s linear;

      svg path {
        fill: $label-colour-hover;
      }
    }
  }

  .github {
    padding: 10px;
  }

  .resize {
    cursor: pointer;
  }
}

.loaded header {
  padding-left: 75px;
}

main {
  height: calc(100% - 80px);
  background-color: #f4f4f4;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(135deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(135deg, transparent 75%, #eee 75%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 0, 20px -20px, 0px 20px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

  & > .left {
    height: 100%;
    background: linear-gradient(45deg, rgba(210,210,210,0.7) 0%,rgba(250,250,250,0.7) 100%);
    flex: 1;
    flex-direction: column;
  }
}

#display {
  height: calc(100% - 147px);
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}

.left > fieldset {
  padding: 20px;
  color: rgba(0,0,0,0.5);
  font-size: 0.7rem;
}

.left > fieldset legend {
  height: 20px;
  margin-bottom: 5px;
  line-height: 20px;
  position: relative;
  top: 20px;
}

.left legend span {
  margin: 0 5px;
  cursor: pointer;
  color: rgba(0,0,0,0.3);
}

.left legend span:hover {
  text-decoration: none;
  text-decoration: underline;
}

.left legend span.on {
  color: inherit;
  text-decoration: underline;
}

.left fieldset > div {
  overflow: hidden;
  display: inline-block;
}

.left fieldset > div:nth-of-type(1) {
  width: 70%;
}

.left fieldset > div:nth-of-type(2) {
  width: 30%;
  text-align: right;
}

input[type=text],
input[type=number] {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  color: rgba(0,0,0,0.5);
  font-size: 0.9rem;
  cursor: pointer;
  -moz-appearance: textfield;

  &:hover,
  &:focus {
  background: #fff;
  color: #000;
}
}

.left fieldset input[type=number] {
  width: 50px;
  height: 23px;
  margin-right: 3px;
  padding: 0 5px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  text-align: right;
  
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

#export_size span {
  width: 21px;
  display: inline-block;
}

#export_size span:first-of-type {
  margin-right: 20px;
}

.left fieldset label {
  cursor: pointer;
}

.left fieldset input[type=radio] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.left fieldset input[type=radio]:last-of-type {
  margin-left: 10px;
}

.left fieldset > div:nth-of-type(1) label {
  padding-right: 5px;
}

.left fieldset > div:nth-of-type(2) label {
  padding-left: 5px;
}

button {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: #b9ffba;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  cursor: pointer;
  
  &:hover {
    background: #b2f590;
  }
}

#controls {
  width: 40%;
  min-width: 190px;
  max-width: 350px;
  height: 100%;
  background: rgb(255,230,230);
  overflow: auto;

  h2 {
    padding: 13px 10px;
    text-align: center;
  }
  
  fieldset > div {
    margin-bottom: 5px;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  input[type=checkbox] {
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: 20px;
    cursor: pointer;
  }
  
  label {
    padding: 12px 80px 12px 60px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    cursor: pointer;
  }
  
  input[type=checkbox]:checked + label {
    color: rgba(0, 0, 0, 1);
  }
  
  input[type=color] {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: width 0.1s, height 0.1s, top 0.1s, right 0.1s;
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
  }
  
  input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 20px;
  }
  
  input[type=color]:hover {
    width: 36px;
    height: 36px;
    top: calc(50% - 18px);
    right: 17px;
  }
  
  input[type=color]:after {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(255,255,255,0.5);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  fieldset > div:hover {
    background-color: rgba(255,255,255,0.7);
  }
}

footer {
  height: 20px;
}

footer input[type=number] {
  width: 5ch;
  height: 30px;
  padding: 2px 10px;
  font-size: 1.3rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
